@media screen and (max-width :1200px) {
    header {
        width: 95%;
        transition: .5s linear;
    }

    header .menu_side,
    .song_side {
        width: 30%;
        
    }

    header .song_side {
        width: 70%;
    }

    header .song_side .content {
        height: 18%;
    }
    header .menu_side h6{
        display: none;
    }
}

@media screen and (max-width :930px) {

    header .menu_side {
        width: 40%;
        z-index: 999;
        position: absolute;
        transition: 1s linear;
        transform: translateX(-100%);
    }

    header .menu_side_active {
       
    }

    header .song_side {
        width: 100%;
    }

    header .master_play {
        position: absolute;
        bottom: 0;
    }

    header .menu_side h6 {
        position: absolute;
        right: -40px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        background: #111727;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        transition: 1s linear;
    }
    header .song_side .content h1{
        margin-left: 20px;
    }
    header .song_side .content p{
        margin-left: 20px;
    }
    header .song_side .content .buttons{
        margin-left: 20px;
    }
}

@media screen and (max-width :680px) {
    header{
        width: 100%;
    height: 100vh;
    transition: .5s linear;
    }
    header .song_side nav ul li{
        font-size: 11px;
        margin-right: 10px;
    }
    header .song_side nav .search{
        width: auto;
    }
    header .master_play{
       z-index: 99999999999999999;
    }
    header .menu_side {
        width: 60%;
     
        
        
    }
    header .master_play .icon{
        position: absolute;
        right: 30%;
        top: -46px;
    }
    header .master_play .icon::before{
        position: absolute;
       content: '';
       width: 200px;
       height: 180px;
       background: #111727;
       z-index: -1;
       border-radius: 50% 50% 0% 0%;
       left: -20%;
       box-shadow: 0px -11px 20px -17px ;
    }
    header .master_play .wave{
        position: absolute;
        top: -90px;
        right: 39%;
        height: 40px;
        width: 40px;
    }
    header .master_play .wave .wave1{
    width: 6px;
    }

}
@media screen and (max-width :470px){
    header .song_side nav .search{
        width: 150px;
        display: flex;
        margin-right: 5px;
    }
    header .master_play .wave{
       
        right: 42%;
        
    }
    header .menu_side {
        width: 70%;
     }
     header .song_side .popular_songs{
        margin-top: 50px;
     }
     header .song_side .popular_Artists{
        margin-top: 240px;
     }
}
@media screen and (max-width :412px){
    header .song_side nav ul li{
        font-size: 10px;
        margin-right: 7px;
    }
    header .song_side nav .search{
        width: 140px;
    }
    header .song_side .popular_songs{
        margin-top: 60px;
     }
     header .song_side .popular_Artists{
        margin-top: 260px;
     }


}
@media screen and (max-width :380px){
    header .song_side nav ul li{
        font-size: 10px;
        margin-right: 7px;
    }
    header .song_side nav .search{
        width: 140px;
    }
    header .song_side .popular_songs{
        margin-top: 30px;
     }
     header .song_side .popular_Artists{
        margin-top: 230px;
     }
     header .master_play .wave{
       
        right: 43%;
        
    }


}
